#spiral, form {
    margin: 40px auto 0px auto;
    text-align: center;
}

#spiral {
    display: inline-block;
}

pre {
    margin: 0px auto;
    background-color: #eeeeee;
    text-align: left;
}

body {
    text-align: center;
}